/*
 * flibbble styles
 *
 * 2012 by Maximilian Hoffmann & Stefan Schwartze 
 */
/* Variables
   ========================================================================== */
/* Styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #737b8c;
  background: #dcdfe5;
  font: 16px/24px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}
a {
  color: #737b8c;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover,
a:active {
  color: #c1c7d1;
  text-shadow: 0 1px 0 white;
}
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 460px;
  overflow: hidden;
}
#flipper {
  background: #f9fafb;
  box-shadow: -2px 0 10px rgba(1, 17, 50, 0.30000000000000004);
  z-index: 2;
  -webkit-perspective: 800px;
  -webkit-transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform ease 0.3s;
  -webkit-transform: translatex(0);
}
#flipper.right {
  -webkit-transform: translatex(240px);
}
.loading {
  margin-top: 427px;
  text-align: center;
  text-shadow: 0 1px 0 white;
}
.arrow {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.8em;
  font-weight: bold;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform ease-out 0.4s;
}
.spin {
  -webkit-transform: rotate(-360deg);
}
/* Pages
   ========================================================================== */
.page {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: center top;
  -webkit-transform: rotatex(0) translatez(0);
  -webkit-transition: -webkit-transform ease-out 0.5s;
}
.page.up {
  -webkit-transform: rotatex(180deg) translatez(0);
}
.page.hidden {
  -webkit-transition: -webkit-transform ease-out 0.5s, visibility ease-out 0.4s;
}
.page .front,
.page .back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 50px;
  overflow: hidden;
  font: bold 16px/24px 'Helvetica Neue', Helvetica, sans-serif;
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.page .back {
  -webkit-transform: rotatex(-180deg);
}
.page.first {
  top: 0;
  box-shadow: 0 -5px 10px rgba(22, 24, 29, 0.2);
  -webkit-transform-origin: center bottom;
  -webkit-transform: rotatex(0deg) translatez(0);
}
.page.last {
  box-shadow: 0 5px 10px rgba(22, 24, 29, 0.2);
}
.last .text {
  font-size: 2em;
  padding-top: 99px;
  padding-left: 30px;
  text-align: center;
  text-shadow: 0 1px 0 white;
}
.page .shot {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  box-shadow: 2px 0 10px rgba(1, 17, 50, 0.30000000000000004);
  -webkit-transition: -webkit-transform ease 0.3s;
  z-index: 2;
}
.shot.left {
  -webkit-transform: translate(-300px);
}
.hide {
  opacity: 0;
}
.hidden {
  visibility: hidden;
}
/* Details
   ========================================================================== */
.details {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.title {
  width: 240px;
  margin: 24px 0 0 0;
  font: bold 21px/1.5em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.author:after {
  content: "";
  display: table;
  clear: both;
}
.author-image {
  float: left;
  margin-right: 14px;
  width: 58px;
  height: 58px;
  border: 4px solid white;
  border-radius: 8px;
  line-height: 0;
  box-shadow: 0 1px 2px rgba(22, 24, 29, 0.2);
}
.author-image:hover,
.autor-image:active {
  border-color: #737b8c;
}
.author-image img {
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
}
.author-image img.loaded {
  opacity: 1;
  -webkit-transition: opacity ease 1s;
}
.author-name {
  float: left;
  width: 167px;
  margin-top: 17px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title {
  margin-top: 24px 0 0 0;
}
.meta {
  margin-top: 6px;
  padding-left: 1px;
}
.author {
  margin-top: 17px;
  padding-left: 1px;
}
/* Menu
   ========================================================================== */
#menu {
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  z-index: 1;
  -webkit-transition: -webkit-transform ease 0.3s;
}
#navigation {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
#navigation li {
  position: relative;
  margin: 0;
  padding: 10px 0 16px 20px;
  color: #676f7e;
  font: bold 42px/1em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
#navigation .active {
  color: #d0d4dc;
  text-shadow: 0 1px 0 #f9fafa, 0 -1px 0 #bcc1cd;
}
#navigation .logo {
  font-size: 32px;
  color: #d0d4dc;
  text-align: center;
  text-shadow: 0 1px 0 #f9fafa, 0 -1px 0 #bcc1cd;
}
/* Sprites
   ========================================================================== */
.likes,
.views,
.open,
.comments {
  display: inline-block;
  margin: 0 5px 0 10px;
  background: url('../images/stripes-color.png') no-repeat;
  background-size: 29px 25px;
}
.likes {
  margin-left: 0;
  width: 13px;
  height: 12px;
}
.views {
  width: 15px;
  height: 12px;
  background-position: -14px 0;
}
.open {
  width: 16px;
  height: 12px;
  background-position: 0 -13px;
}
.comments {
  width: 14px;
  height: 12px;
  background-position: -16px -13px;
}
/* Landscape
   ========================================================================== */
@media only screen and (orientation: landscape) {
  .screen {
    height: 300px;
    width: 480px;
  }
  .loading {
    display: none;
  }
  .page {
    top: 300px;
    height: 100%;
    width: 100%;
  }
  .landscape.right .page {
    top: 0;
  }
  .landscape.right .page .text {
    top: 300px;
  }
  .page .front,
  .page .back {
    padding: 55px 0 0 150px;
  }
  .title {
    width: 270px;
  }
  .author-name {
    width: 197px;
  }
  .page .shot {
    top: 10px;
    left: 63px;
    width: 360px;
    height: 280px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(1, 17, 50, 0.30000000000000004);
  }
}
