/*!
 * flibbble styles
 *
 * 2012 by Maximilian Hoffmann & Stefan Schwartze 
 */
/* Variables
   ========================================================================== */
/* Styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #737b8c;
  background: #dcdfe5;
  font: 16px/24px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}
a {
  color: #737b8c;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover,
a:active {
  color: #c1c7d1;
  text-shadow: 0 1px 0 white;
}
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 460px;
  overflow: hidden;
}
#flipper {
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  box-shadow: -2px 0 10px rgba(1, 17, 50, 0.3);
  z-index: 2;
  -webkit-perspective: 800px;
  -webkit-transition: -webkit-transform ease 0.3s;
}
#flipper.right {
  -webkit-transform: translatex(240px);
}
.drag {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #a4acbc;
  text-shadow: 0 1px 0 white;
}
.drag.down {
  top: 9px;
}
.drag.up {
  bottom: 9px;
}
.arrow {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform ease 0.3s;
}
.load {
  -webkit-transform: translatey(-140px);
  -webkit-transition: -webkit-transform ease 0.8s;
}
.down .load {
  -webkit-transform: translatey(140px);
}
/* Pages
   ========================================================================== */
.page {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin-y: top;
  -webkit-transition: -webkit-transform ease-out 0.5s, visibility ease-out 0.4s;
  visibility: hidden;
}
.page.visible {
  visibility: visible;
  -webkit-transition: -webkit-transform ease-out 0.5s;
}
.page.up {
  -webkit-transform: rotatex(180deg) translatez(0);
}
.page:first-child,
.page:last-child {
  box-shadow: 0 5px 10px rgba(22, 24, 29, 0.2);
}
.drag + .page {
  box-shadow: 0 5px 10px rgba(22, 24, 29, 0.2);
}
.front,
.back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 50px;
  overflow: hidden;
  font: bold 16px/24px 'Helvetica Neue', Helvetica, sans-serif;
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.back {
  -webkit-transform: rotatex(-180deg);
}
.text {
  font-size: 2em;
  padding-top: 99px;
  padding-left: 30px;
  text-align: center;
  text-shadow: 0 1px 0 white;
}
.shot {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  box-shadow: 2px 0 10px rgba(1, 17, 50, 0.3);
  -webkit-transition: -webkit-transform ease 0.3s;
}
.shot.left {
  -webkit-transform: translatex(-300px);
}
.shot img {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  -webkit-transition: opacity ease .6s;
}
.visible + .visible .back img {
  -webkit-transition: none;
}
.loading {
  width: 100%;
  padding: 28% 20px 0 20px;
  text-shadow: 0 1px 0 white;
}
.loading-title,
.loading-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.loading-author {
  font-size: .9em;
  font-style: italic;
  color: #d0d4dc;
}
.hidden {
  opacity: 0;
}
/* Details
   ========================================================================== */
.details {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.title {
  width: 240px;
  margin: 24px 0 0 0;
  font: bold 21px/1.5em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.author:after {
  content: "";
  display: table;
  clear: both;
}
.author-image {
  float: left;
  margin-right: 14px;
  width: 58px;
  height: 58px;
  border: 4px solid white;
  border-radius: 8px;
  line-height: 0;
  box-shadow: 0 1px 2px rgba(22, 24, 29, 0.2);
}
.author-image:hover,
.author-image:active {
  border-color: #737b8c;
  box-shadow: 0 0 4px #737b8c inset;
}
.author-image img {
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: opacity ease 1s;
}
.author-name {
  float: left;
  width: 167px;
  margin-top: 5px;
  margin-bottom: 2px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.author-links,
.author-links a {
  color: #c1c7d1;
  text-shadow: 0 1px 0 #f9fafa;
}
.author-links a:hover,
.author-links a:active {
  color: #a4acbc;
}
.title {
  margin-top: 24px 0 0 0;
}
.meta {
  margin-top: 6px;
  padding-left: 1px;
}
.author {
  margin-top: 17px;
  padding-left: 1px;
}
/* Menu
   ========================================================================== */
#menu {
  background: -webkit-radial-gradient(center, #f9fafb, #dcdfe5);
  z-index: 1;
  -webkit-transition: -webkit-transform ease 0.3s;
}
#navigation {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
#navigation li {
  position: relative;
  margin: 0;
  padding: 10px 0 16px 20px;
  color: #676f7e;
  font: bold 42px/1em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
#navigation .logo {
  font-size: 32px;
  color: #d0d4dc;
  text-align: center;
  text-shadow: 0 1px 0 #f9fafa, 0 -1px 0 #bcc1cd;
}
#navigation .active {
  color: #d0d4dc;
  text-shadow: 0 1px 0 #f9fafa, 0 -1px 0 #bcc1cd;
}
/* Notifications
   ========================================================================== */
#notifications {
  position: absolute;
  top: -40px;
  width: 320px;
  z-index: 3;
  text-align: center;
  pointer-events: none;
}
#notifications.hide {
  -webkit-animation: hide ease 500ms forwards;
}
#notifications.show {
  -webkit-animation: show ease 1s forwards;
}
#notification {
  display: inline-block;
  padding: 4px 8px;
  max-width: 280px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: .9em;
  border-radius: 4px;
  pointer-events: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@-webkit-keyframes show {
  40% {
    -webkit-transform: translatey(58px);
  }
  100% {
    -webkit-transform: translatey(55px);
  }
}
@-webkit-keyframes hide {
  0% {
    -webkit-transform: translatey(55px);
  }
  70% {
    -webkit-transform: translatey(80px);
  }
  100% {
    -webkit-transform: translatey(0);
  }
}
/* Sprites
   ========================================================================== */
.likes,
.views,
.open,
.comments {
  display: inline-block;
  margin: 0 5px 0 10px;
  background: url('../images/stripes-color.png') no-repeat;
  background-size: 29px 25px;
}
.likes {
  margin-left: 0;
  width: 13px;
  height: 12px;
}
.views {
  width: 15px;
  height: 12px;
  background-position: -14px 0;
}
.open {
  width: 16px;
  height: 12px;
  background-position: 0 -13px;
}
.comments {
  width: 14px;
  height: 12px;
  background-position: -16px -13px;
}
/* Landscape
   ========================================================================== */
@media only screen and (orientation: landscape) {
  .screen {
    height: 300px;
    width: 480px;
  }
  .drag {
    display: none;
  }
  .page {
    top: 300px;
    height: 100%;
    width: 100%;
  }
  #notifications {
    width: 480px;
  }
  #notification {
    max-width: 400px;
  }
  .landscape.right .page {
    top: 0;
  }
  .landscape.right .text {
    top: 0;
    padding: 27% 0 0 0;
    text-align: center;
  }
  .front,
  .back {
    padding: 55px 0 0 150px;
  }
  .title {
    width: 270px;
  }
  .author-name {
    width: 197px;
  }
  .shot {
    background: none;
    box-shadow: none;
  }
  .shot img {
    top: 10px;
    left: 63px;
    width: 360px;
    height: 280px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(1, 17, 50, 0.3);
  }
  .loading {
    display: none;
  }
}
