/*
 * flibbble styles
 * (C) by Maximilian Hoffmann & Stefan Schwartze
 */

/* Variables
------------------------------------------------------------ */

@text-color: hsl(210, 0%, 90%);
@text-light-color: hsl(210, 0%, 100%);
@text-shadow-color: hsl(210, 10%, 25%);
@text-inset-color: hsl(210, 10%, 23%);
@text-inset-light-color: hsl(210, 10%, 40%);
@text-inset-shadow-color: hsl(210, 10%, 15%);
@bg-color: hsl(210, 10%, 30%);
@shadow: hsl(210, 10%, 20%);

/* Styles
------------------------------------------------------------ */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {	
	margin: 0;
	padding: 0;
	background: @bg-color;
	font: 14px/1.5em "Helvetica Neue", Helvetica, sans-serif;
	-webkit-user-select: none;
  -webkit-backface-visibility: hidden;
}

p {
	text-align: center;
	font-size: 16px;
	color: @text-color;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 460px;
}

#flipper {
	-webkit-perspective: 800px;
	-webkit-transform-origin: 0% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform ease .3s;
  background: @bg-color;
  box-shadow: -2px 0 10px @shadow;
  overflow: hidden;
  z-index: 2;
}

.page {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: center top;
}

.page.first {
	top: 0;
  -webkit-transform-origin: center bottom;
  box-shadow: 0 -5px 10px @shadow;
}

.page .front,
.page .back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	color: @text-color;
  background: @bg-color;
	font: bold 16px/1.5em 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.last .front {
  background: @bg-color;
}

.page.last {
  box-shadow: 0 5px 10px @shadow;	
}

.page .back {
	-webkit-transform: rotateX(-180deg);
}

.page .shot {
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
  box-shadow: 2px 0 10px @shadow;
	-webkit-transition: all ease-out .2s;
}

#menu {
	padding: 20px;
	background: @bg-color;
	z-index: 1;
  -webkit-transition: -webkit-transform ease .3s;	
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	height: 70px;
	margin: 0;
	padding: 0;	
	font: bold 42px/1.5em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
	color: @text-color;
	text-shadow: 0 1px 0 @text-shadow-color,
							 0 -1px 0 @text-light-color;
}

#menu li.active {
	color: @text-inset-color;	
	text-shadow: 0 1px 0 @text-inset-light-color,
							 0 -1px 0 @text-inset-shadow-color;
}

#menu #logo,
#logo {
	height: 60px;
	font-size: 32px;
	color: @text-inset-color;
	text-align: center;
	text-shadow: 0 1px 0 @text-inset-light-color,
							 0 -1px 0 @text-inset-shadow-color;
}

.logo-img {
	display: block;
	opacity: 0;
	width: 94px;
	margin: -0.8em auto 3em auto;	
	-webkit-animation: rolling 2.8s 1s forwards;
	animation: rolling 2.8s 1s forwards;	
}

@-webkit-keyframes rolling {
	0%   { -webkit-transform: translateX(-240px) rotate(-180deg); }
	20% { opacity: 1; }
	51% { -webkit-transform: translateX(8px) rotate(10deg);  }	
	100% { -webkit-transform: translateX(0px) rotate(0deg); opacity: 1; }
}

@keyframes rolling {
	0%   { opacity: 0; -webkit-transform: translateX(-240px) rotate(-180deg); }
	20% { opacity: 1; }
	61% { -webkit-transform: translateX(15px) rotate(20deg);  }	
	100% { -webkit-transform: translateX(0px) rotate(0deg); }
}

.page h2 {
	width: 280px;
	font: bold 21px/1.5em 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 12px 0 24px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.meta {
	margin: 0 0 24px 0;	
}

.author-image {
	float: left;
	margin-right: 14px;
	border: 4px solid hsl(210, 10%, 40%);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	line-height: 0;
	box-shadow: 0 1px 2px @shadow;
}

.author-image img {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.author-name {
	padding: 16px 0 0 0;
}

.hide {
	opacity: 0;
}

.hidden {
	visibility: hidden;
}

.likes,
.views,
.open,
.comments {
	display: inline-block;
}

.likes {
	background: url('../img/stripes.png') no-repeat 0 0;
	width: 13px;
	height: 12px;
	background-size: 29px 25px;
}

.views {
	margin-left: 10px;
	background: url('../img/stripes.png') no-repeat -14px 0px;
	width: 15px;
	height: 12px;	
	background-size: 29px 25px;
}

.open {
	background: url('../img/stripes.png') no-repeat 0 -13px;
	width: 16px;
	height: 12px;
	background-size: 29px 25px;
}

.comments {
	margin-left: 10px;	
	background: url('../img/stripes.png') no-repeat -16px -13px;
	width: 14px;
	height: 12px;
	background-size: 29px 25px;
}